ion-content {
    --background: url(../../assets/images/slides-bg.png) 0 0/100% 100% no-repeat !important;

    .slider-container {
        height: 100%;
        ion-slides {
            margin-top: 10%;
            height: 100%;
            --bullet-background: blue;
            --bullet-background-active: yellow;
        }
        .swiper-slide {
            display: block;
        }
        
        .slide-title {
            margin-top: 2.8rem;
        }
        
        .slide-image {
            margin: auto;
            width: 60%;
            border: 3px solid #73AD21;
            padding: 10px;
        }
    }
}
